<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish</title>
</head>
<body>
    <h2>Kirish</h2>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="phone">Telefon raqamingiz:</label>
        <input type="text" name="phone" id="phone" required>
        <button type="submit">Tasdiqlash kodini olish</button>
    </form>
    <br>
    <p>Ro‘yxatdan o‘tmaganmisiz? <a href="{% url 'register' %}">Ro‘yxatdan o‘tish</a></p>
    
</body>
</html>
