{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<body class="page-template-default page page-id-14 wp-custom-logo wp-embed-responsive theme-avanam woocommerce-account woocommerce-page woocommerce-js footer-on-bottom link-style-no-underline content-title-style-above content-width-normal content-style-unboxed content-vertical-padding-show non-transparent-header mobile-non-transparent-header base-elementor-colors base-account-nav-left elementor-default elementor-kit-7 hide-focus-outline">
    <div id="wrapper" class="site wp-site-blocks">
        {% include 'base/header.html' %}

        <div id="inner-wrap" class="wrap hfeed bst-clear">
            <section role="banner" class="entry-hero page-hero-section entry-hero-layout-standard">
                <div class="entry-hero-container-inner">
                    <div class="hero-container site-container">
                        <header class="entry-header page-title title-align-left title-tablet-align-left title-mobile-align-left">
                            <nav class="base-breadcrumbs">
                                <div class="base-breadcrumb-container">
                                    <span>
                                        <a href="/" class="base-bc-home">
                                            <span>Bosh saxifa</span>
                                        </a>
                                    </span> 
                                    <span class="bc-delimiter">/</span> 
                                    <span class="base-bread-current">Ro‘yxatdan o‘tish</span>
                                </div>
                            </nav>
                            <h1 class="entry-title">Ro‘yxatdan o‘tish</h1>
                        </header><!-- .entry-header -->
                    </div>
                </div>
            </section><!-- .entry-hero -->
            <div id="primary" class="content-area">
                <div class="content-container site-container">
                    <main class="site-main">
                        <div class="content-wrap">
                            <article id="post-14" class="entry content-bg single-entry post-14 page type-page status-publish hentry">
                                <div class="entry-content-wrap">
                                    <div class="entry-content single-content">
                                        <div class="woocommerce">
                                            <div class="u-columns col2-set">
                                                <div class="u-column1 col-1">
                                                    <h2>Ro‘yxatdan o‘tish</h2>
                                                    <form method="post" class="woocommerce-form woocommerce-form-register register">
                                                        {% csrf_token %}
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="reg_username">Ism&nbsp;
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="first_name" id="first_name" required>
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label>Familiya&nbsp;
                                                                <span class="required">*</span></label>
                                                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="last_name" id="last_name" required>
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label>Telefon no'mer&nbsp;
                                                                <span class="required">*</span></label>
                                                            <input class="woocommerce-Input woocommerce-Input--text input-text" type="text" name="phone" id="phone" required>
                                                        </p>
                                                        <div class="woocommerce-privacy-policy-text">
                                                            <p>Shaxsiy ma'lumotlaringiz ushbu veb-saytdagi tajribangizni qo'llab-quvvatlash, hisobingizga kirishni boshqarish va <a href="#" class="woocommerce-privacy-policy-link" target="_blank">maxfiylik siyosat</a>imizda tasvirlangan boshqa maqsadlarda foydalaniladi.</p>
                                                        </div>
                                                        <p class="woocommerce-form-row form-row">
                                                             <button type="submit" class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit" >Ro‘yxatdan o‘tish</button>
                                                        </p>


                                                    </form>

                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </main>
                </div>
            </div>
        </div>

        {% include 'base/footer.html' %}
    </div>
    {% include 'base/js.html' %}
</body>
{% endblock content %}
